body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body {
  margin: 15px;
}

h1,
h2,
h3 {
  color: #00aeff;
}

button {
  margin: 5px;
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333a44;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #00aeff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #5a677a;
}

nav button {
  margin-top: 13px;
}

#character-grid {
  background-color: #333a44;
}

#filter nav ul {
  background-color: #333a44;
  overflow: hidden;
}

#filter nav ul li {
  width: 100%;
}

#filter {
  float: left;
}

#character-grid {
  color: #00aeff;
  box-shadow: 5px 10px #00aeff;
}

.character {
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 10px 10px;
}
